.login_container {
    width: 100%;
    min-height: 90vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login_form_container {
    width: 800px;
    height: 490px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  .logo {
    margin-top: -17rem;
    width: 10rem;
  }
  
  .left {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(211, 208, 203);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 15px;
  }
 .WebName>h6{
  
    margin-left: 2rem;
 }
  
  
  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form_container h1 {
    font-size: 40px;
    margin-top: 0;
  }
  
  .input {
    outline: none;
    border: none;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin-left: 10px;
    font-size: 11px;
  }
  
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var();
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .white_btn {
    background-color: white;
    color: #d59500;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    border-color: #e7e7e7;
  
    box-shadow: 0 2px 0 1px #b6b6b6;
  }
  
  .gold_btn {
    
    color: white;
   margin-top: 10px;
   margin-left: 25px;
    width: 140px;
    height: 35px;
   
  }
  .my-facebook-button-class {
    color: white;
    background-color: #d59500;
    margin-top: 10px;
    height: 35px;
    box-shadow: 0 2px 0 1px #b6b6b6;
    border-radius: 10px;
    border: none;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     
  }